<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
<bean id="userService" class="com.innovation.daolife.service.impl.UserService">
    <property name="dlUsersDao">
        <ref bean="dlUsersDao"/>
    </property>
     <property name="dlContentatDao">
        <ref bean="dlContentatDao"/>
    </property>
     <property name="dlHotdaoDao">
        <ref bean="dlHotdaoDao"/>
    </property>
    <property name="dlProductDao">
        <ref bean="dlProductDao"/>
    </property>
</bean>
<bean id="followrelationService" class="com.innovation.daolife.service.impl.FollowrelationService">
    <property name="followrelationDao">
        <ref bean="followrelationDao"/>
    </property>
</bean>
</beans>