<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>

    
    <bean id="ProductAction" class="com.innovation.daolife.action.ProductAction"
        scope="prototype">
        <property name="productService" ref="productService" />
    </bean>
    <bean id="UserAction" class="com.innovation.daolife.action.UserAction"
        scope="prototype">
        <property name="userService" ref="userService" />
    </bean>
    <bean id="DaoAction" class="com.innovation.daolife.action.DaoAction"
        scope="prototype">
        <property name="dlDaoService" ref="dlDaoService" />
        <property name="followrelationService" ref="followrelationService" />
    </bean>
    <bean id="CommonAjax" class="com.innovation.common.Ajax.CommonAjax"
        scope="prototype">
        <property name="userService" ref="userService" />
        <property name="dlDaoService" ref="dlDaoService" />
        <property name="followrelationService" ref="followrelationService" />
        <property name="dlMessagesService" ref="dlMessagesService" />
    </bean>
    <bean id="FollowAction" class="com.innovation.daolife.action.FollowAction"
        scope="prototype">
        <property name="followrelationService" ref="followrelationService" />
    </bean>
    <bean id="WebCommonAction" class="com.innovation.daolife.action.WebCommonAction"
        scope="prototype">
         <property name="userService" ref="userService" />
        <property name="daoService" ref="dlDaoService" />
        <property name="productService" ref="productService" />
    </bean>
</beans>