.chanpinmingcheng {
	height: 220px;
	width: 265px;
	float: left;
	margin-top: 3px;
	margin-right: 3px;
	margin-bottom: 3px;
	margin-left: 3px;
	padding-left: 0px;
	padding-top: 0px;
}
.chanpinneirong {
	height: 15px;
	width: 240px;
	margin-top: 4px;
	padding-left: 5px;
	margin-bottom: 4px;
}
.chanpin {
	width: 980px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #d8d8d8;
	border-bottom-color: #d8d8d8;
	padding-top: 10px;
	height: auto;
	background-color: #f8f8f8;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #d8d8d8;
}


.chanpin1 {
	height: auto;
	width: 850px;
	margin-top: 5px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.zhuti3 {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #d8d8d8;
	border-bottom-color: #d8d8d8;
	border-left-color: #d8d8d8;
	min-height:412px;
	width: 980px;
	margin-top: 12px;
	margin-right: auto;
	margin-bottom: 12px;
	margin-left: auto;
	height: auto;
	background-color: #f8f8f8;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #d8d8d8;
}
.zhuti2 {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #d8d8d8;
	border-bottom-color: #d8d8d8;
	border-left-color: #d8d8d8;
	width: 980px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 12px;
	margin-left: auto;
	height: auto;
	background-color: #f8f8f8;
}
.Box2  {
	font-weight: bold;
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #d8d8d8;
	font-style: normal;
	color: #000000;
	margin-top: 10px;
	line-height: 50px;
	text-indent: 10px;
	margin-right: 80px;
	margin-bottom: 18px;
	margin-left: 100px;
}
